.overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1000;

  .all-ingredient-popup {
    position: relative;
    width: 80%;
    min-width: 29rem;
    max-width: 50rem;
    padding: 3.5rem 2rem;
    text-align: center;
    border-radius: 1.6rem;
    background-color: #fff;

    .close-btn {
      position: absolute;
      top: 1rem;
      right: 1rem;

      svg {
        padding: 0.3rem 0.4rem;
        border-radius: 50%;
        color: #fff;
        background-color: #d9d9d9;
      }
    }

    .popup-title {
      font-size: 1.4rem;
      font-weight: 700;
    }

    .all-ingredient {
      margin-top: 2.5rem;
      font-size: 1.2rem;
    }
  }
}