.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .password-find {
    margin: 1rem 0 3.5rem;
    font-size: 1.2rem;
    color: #8E8E8E;
    text-align: center;
  }
  
  .divider {
    margin: 0 3rem;
  }
  
  .kakao-login-btn {
    margin: 3rem auto 0;
  }
}

