.button {
  display: block;
  width: calc(100% - 6rem);
  min-width: 300px;
  margin: 0 auto;
  padding: 1.5rem 0;
  color: #565656;
  border: 0.5px solid #8E8E8E;
  border-radius: 1.5rem;

  &.white {
    background-color: #fff;
  }

  &.pink {
    background-color: #FFF0E8;
  }
}