header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;

  .back-btn {
    position: absolute;
    left: 3rem;
    padding: 1rem;
    font-size: 1.5rem;
    color: #565656;
  }

  h2 {
    font-size: 1.4rem;
  }
}
