.logo {
  margin-top: 6.5rem; /* 화면 상단 여백 */
  font-family: "Abril Fatface", serif;
  color: #ffae82;
  font-size: 3.5rem;
  text-align: center;
  font-weight: normal;
}

.slogan {
  margin-top: -0.5rem;
  font-size: 1.2rem;
  color: #ffae82;
  font-weight: 700;
  font-family: "Noto Sans KR", sans-serif;
  text-align: center;
}
