.navbar {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: min(90vw, 600px);
  min-width: 360px;
  padding: 1rem 3rem;
  text-align: center;
  color: #8E8E8E;
  border-top: 1px solid #FF975F;
  background-color: #fff;
  z-index: 100;

  button {
    font-size: 1rem;
    color: #8E8E8E;
  }
}
