.review-box {
  margin-top: 1rem;
  border-radius: 1rem;
  border: 1px solid #e1e1e1;
  padding: 1.5rem;

  .name-brand-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;

    .name-brand {
      display: flex;
      gap: 0.3rem;
      font-weight: bold;
    }

    .user-answer {
      font-size: 1rem;
      font-weight: bold;

      &.good {
        color: #a5cf96;
      }

      &.bad {
        color: #ff7d8a;
      }

      &.unknown {
        color: #ff975f;
      }
    }
  }

  .cosmetic-name {
    font-size: 1rem;
    color: #565656;
  }

  .user-info-section {
    display: flex;
    gap: 0.5rem;

    .user-name {
      font-size: 1rem;
      color: #565656;
    }

    .age-skintype {
      flex-grow: 1;
      .user-age {
        font-size: 1rem;
        color: #8e8e8e;
      }

      .user-skintype {
        font-size: 1rem;
        color: #8e8e8e;
      }
    }
    .user-answer {
      font-size: 1rem;
      font-weight: bold;

      &.good {
        color: #a5cf96;
      }

      &.bad {
        color: #ff7d8a;
      }

      &.unknown {
        color: #ff975f;
      }
    }
  }

  hr {
    margin-top: 1rem;
    background-color: #dedede;
    border: 0;
    height: 0.1rem;
    margin-bottom: 1rem;
  }

  .review-content {
    font-size: 1.2rem;
    color: #565656;

    .review-photo {
      width: 9rem;
      height: 6rem;
      margin-top: 1rem;
      object-fit: contain; // 이미지 잘리지 않게 수정
    }

    .btn-set {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 1.5rem;

      .liked-btn {
        color: #565656;
        font-size: 1rem;
        border-radius: 2rem;
        border: 0.5px solid #dedede;
        padding: 0.5rem 1.5rem;
        gap: 0.5rem;
        display: flex;
        align-items: center;

        .emoji {
          width: 1.5rem;
          height: 1.7rem;

          &.active {
            background-color: #fff0e8;
          }
        }
      }

      .report-btn {
        color: #8e8e8e;
        font-size: 1rem;
      }
    }
  }
}
