@use "../../assets/styles/mixin" as *;

.UserInfo2-block {
  margin: 0 3rem;
  @include input-group();

  .info-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    label {
      font-size: 1.4rem;
      color: #565656;
    }

    .search-btn {
      border: 1px solid #8e8e8e;
      background-color: #fff;
      padding: 0.2rem 0.8rem;
      border-radius: 1.5rem;
      color: #565656;
      font-size: 1.2rem;
      cursor: pointer;
    }
  }

  .info-textarea {
    width: 100%;
    height: 10rem; /* 필요시 조절 */
    border: 1px solid #ddd;
    border-radius: 0.4rem;
    padding: 0.8rem;
    resize: none; /* 사용자가 사이즈를 조절 못하게 함 */
    font-size: 1.2rem;
    outline: none;

    /* 읽기 전용임을 시각적으로 알리고 싶다면 예시:
    background-color: #f9f9f9;
    */
  }
}
