.search-popup-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  border-bottom: 1px solid #dedede;

  // 화장품 이미지
  img {
    width: 4rem;
    aspect-ratio: 1/1;
  }

  // 브랜드, 화장품명/성분명
  .text-box {
    flex-grow: 1;
    margin: 0 0.5rem;
    overflow: hidden;

    .brand-name {
      color: #8e8e8e;
    }

    .main-text {
      font-size: 1.1rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  // 추가/삭제 버튼
  .btn-box {
    display: flex;
    justify-content: center;
    align-items: center;

    .btn {
      width: 5rem;
      padding: 0.4rem 0;
      font-size: 1rem;
      border-radius: 2rem;
      display: none;

      &.add-btn {
        color: #565656;
        border: 1px solid #8e8e8e;
        background-color: #fff0e8;
      }

      &.remove-btn {
        color: #8e8e8e;
        border: 1px solid #dedede;
        background-color: #fff;
      }

      &.active {
        display: block;
      }
    }
  }
}
