//searchItem.jsx : 검색결과 하나(뱃지, 버튼 Props로 바꾸기)

.margin-setting {
  margin-left: 3rem;
  margin-right: 3rem;
}
.search-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 1rem;

  p {
    font-size: 1.4rem;

    &.brand-name {
      font-size: 1.1rem;
    }
  }

  hr {
    height: 0.1rem;
    border: none;
    background-color: #dedede;
  }

  .cosmetic-image {
    width: 1.7rem;
    height: 3.8rem;
  }
}

// 안전,유의 뱃지거나 추가 버튼 변경경
// // 반복 문법
// %common {
//     font-size: 1.3rem;
// }

// // 뱃지가 아닌 추가 버튼일 때
// .add-btn {
//     @extend %common;
//     border-color: #DEDEDE;
//     border-style: solid;
//     border-radius: 2rem;
//     padding-left: 1.2rem;
//     padding-right: 1.2rem;
//     margin-top: 0.5rem;
//     right: 0.3rem;
//     color:#8e8e8e;
//     border-width: 0.1rem;
// }

// .badge {
//     @extend %common;
//     padding: 0.8rem 0.6rem;
//     border-radius: 50%;

//     &.isSafe {
//         background-color: #69B293;
//         color: #fff
//     }

//     // # 조건문 <유의>

// }
