.search-result {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 3rem;
  margin-left: 3rem;
}

p {
  padding-bottom: 0.5rem;
  font-size: 1.4rem;
  padding-left: 1rem;
}

hr {
  height: 0.1rem;
  border: none;
  background-color: #dedede;
}
