@use "../../assets/styles/mixin" as *;

.ocr-register-form {
  margin: 1rem 3rem 0;

  .error-msg {
    @include error-msg();
    margin-left: 0.1rem;
    

    &.error {
      display: block;
    }
  }
  // 공통 style
  .input-wrapper {
    @include input-group();

    .input-title {
      @include input-title();
    }

    #cosmeticName,
    #cosmeticBrand,
    #cosmeticVolume {
      @include input-text();
      @include input-border();
      width: 100%;
      height: 3.3rem;
      resize: none;
      padding-right: 1rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }

  .category-group {
    @include input-group();


    label {
      display: block;
      margin-bottom: 0.8rem;
      font-size: 1.4rem;
      color: #333;
    }

    .skintype-options {
      display: flex;
      gap: 0.8rem; // 버튼들 사이 간격

      .skin-btn {
        flex: 1; /* 5개의 피부타입 버튼이 한 줄을 균등 분할 */
        text-align: center; /* 텍스트 가운데 정렬 */
        border: 1px solid #e1e1e1;
        padding: 0.6rem 0.4rem;
        border-radius: 2rem;
        cursor: pointer;
        font-size: 1rem;
        color: #8e8e8e;

        &.selected {
          background-color: #FFF0E8;
        }
      }

    }
  }

  .loading-container {
    display: flex;
    // flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 150px; // 필요에 따라 조절

    .spinner {
      width: 40px;
      height: 40px;
      border: 4px solid rgba(0, 0, 0, 0.1);
      border-top: 4px solid #3498db; // 원하는 색상으로 변경 가능
      border-radius: 50%;
      animation: spin 1s linear infinite;
    }
  }  
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
